/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #3a3a3a;
    color: white;
    padding: 20px;
}

/* Cabeçalho */
header {
    background-color: #3e02a8;
    padding: 15px;
    border-radius: 10px;
}

h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.logo {
    width: 53px;
    height: 53px;
}

/* Corpo principal */
main {
    max-width: 800px;
    margin: auto;
    background: rgb(82, 82, 82);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
}

/* Catálogo de animes */
.anime-catalog {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.anime-series {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.anime-series h3 {
    color: #3e02a8;
    margin-bottom: 10px;
}

.anime-series ul {
    list-style: none;
}

.anime-series ul li {
    margin-bottom: 10px;
}

.anime-series ul li a {
    color: #3e02a8;
    text-decoration: none;
    font-weight: bold;
}

.anime-series ul li a:hover {
    color: white;
    text-decoration: underline;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Mantém a cor do texto */
    font-weight: bold;
    font-size: 24px;
    transition: transform 0.2s ease;
}

.logo-link:hover {
    transform: scale(1.05); /* Efeito de leve aumento ao passar o mouse */
}
.episode-list {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.episode-list h3 {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.episode-list ul {
    list-style: none;
    padding: 0;
}

.episode-list li {
    padding: 10px;
    border-bottom: 1px solid #3e02a8;
}

.episode-list li:last-child {
    border-bottom: none;
}

.episode-list a {
    color: #3e02a8;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
    transition: color 0.3s ease-in-out;
}

.episode-list a:hover {
    color: white;
    text-decoration: underline;
}